body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: goldenrod;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
    background-color: slateblue ;
    height: 450px;
    max-width: 1350px;
    margin: 50px;
    margin-bottom: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dice{
  height: 50px;
  width: 50px;
  background-color: white;
  border: 2px solid black;
  margin: 30px 20px 30px 20px ;
  display: flex;
  
  align-items: center;
  justify-content: center;

  
}

.dice-box{
  height: 220px;
  max-width: 800px;
  background-color: black;
  display: grid;
  grid-template: 40px / auto auto auto auto auto;
  column-gap: 10px;
  row-gap: 50px;
  margin: 50px;
  border-radius: 30px;
  
  
}

h1{
  color: white;
  
}

button{
  display:block;
  margin: 20px auto;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}